<div class="container">
  <h1>Editing article</h1>

<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, data: { editor: 'markdown' }, rows: 10 %>
  <%= f.submit class: 'btn btn-primary my-4' %>
<% end %>

  <%= link_to 'Show', @article %> |
  <%= link_to 'Back', articles_path %>
</div>
